<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>MainControllerServlet</servlet-name>
		<display-name>MainControllerServlet</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.MainControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerControllerServlet</servlet-name>
		<display-name>CustomerControllerServlet</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.CustomerControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Success</servlet-name>
		<display-name>Success</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.Success</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BackToForm</servlet-name>
		<display-name>BackToForm</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.BackToForm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BackToMainPage</servlet-name>
		<display-name>BackToMainPage</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.BackToMainPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoanTypeControolerServlet</servlet-name>
		<display-name>LoanTypeControolerServlet</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.LoanTypeControolerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GrantConditionControllerServlet</servlet-name>
		<display-name>GrantConditionControllerServlet</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.GrantConditionControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoanFileControllerServlet</servlet-name>
		<display-name>LoanFileControllerServlet</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.LoanFileControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoanListControllerServlet</servlet-name>
		<display-name>LoanListControllerServlet</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.LoanListControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>checkInfoControllerServlet</servlet-name>
		<display-name>checkInfoControllerServlet</display-name>
		<description></description>
		<servlet-class>com.hibernate.controller.checkInfoControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainControllerServlet</servlet-name>
		<url-pattern>/addCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>MainControllerServlet</servlet-name>
	<url-pattern>/chooseLoanType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>MainControllerServlet</servlet-name>
	<url-pattern>/chooseGrantCondition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>MainControllerServlet</servlet-name>
	<url-pattern>/loanFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerControllerServlet</servlet-name>
		<url-pattern>/addCustomerSuccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackToForm</servlet-name>
		<url-pattern>/backToForm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackToMainPage</servlet-name>
		<url-pattern>/backToMainPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoanTypeControolerServlet</servlet-name>
		<url-pattern>/addLoanSuccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GrantConditionControllerServlet</servlet-name>
		<url-pattern>/registrationofGrantConditions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoanFileControllerServlet</servlet-name>
		<url-pattern>/checkCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoanListControllerServlet</servlet-name>
		<url-pattern>/goToLoanListPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkInfoControllerServlet</servlet-name>
		<url-pattern>/checkInfo</url-pattern>
	</servlet-mapping>

</web-app>
